{{ $current_page := . }}

{{/* Check whether to show breadcrumb navigation. */}}
{{ $breadcrumb_page_types := site.Params.breadcrumb.page_types | default dict }}
{{ $show_breadcrumb := index $breadcrumb_page_types .Type | default false }}

<div class="container-fluid docs">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 docs-sidebar">
      {{ partial "book_sidebar" . }}
    </div>

    {{/* Show ToC by default. */}}
    {{ if ne .Params.toc false }}
    <div class="d-none d-xl-block col-xl-2 docs-toc">
      {{ partial "hooks/page_toc_start" . }}

      <ul class="nav toc-top">
        <li><a href="#" id="back_to_top" class="docs-toc-title">{{ i18n "on_this_page" }}</a></li>
      </ul>

      {{ .TableOfContents }}

      {{ partial "hooks/page_toc_end" . }}
      <!-- pt custom links -->
      <br>
      <span><i class="fas fa-question-circle" aria-hidden="true"></i></span>&nbsp;&nbsp;&nbsp;<a href="https://github.com/purpleteam-labs/purpleteam/discussions" target="_blank">Questions/feedback?</a>
      <br>
      <span><i class="fas fa-tools" aria-hidden="true"></i></span>&nbsp;&nbsp;&nbsp;<a href="/doc/trouble-shooting/" target="_blank">Troubleshoot</a>
      <br>
      <span><i class="fas fa-heart" aria-hidden="true"></i></span>&nbsp;&nbsp;&nbsp;<a href="https://github.com/purpleteam-labs/purpleteam/blob/main/CONTRIBUTING.md" target="_blank">Contribute</a>
      <!-- End pt custom links -->
    </div>
    {{ end }}

    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 docs-content" role="main">

      <article class="article">

        <div class="docs-article-container">
          {{ if $show_breadcrumb }}
            {{ partial "breadcrumb" $current_page }}
          {{ end }}

          <h1>{{ .Title }}</h1>

          <div class="article-style">
            {{ .Content }}
          </div>

          {{ partial "tags.html" . }}

          {{/* Show next/previous pages by default. */}}
          {{ if ne site.Params.book_section_pager false }}
          <div class="article-widget">
            {{ partial "section_pager" . }}
          </div>
          {{ end }}
        </div>

        <div class="body-footer">
          <p>{{ i18n "last_updated" }} {{ $.Lastmod.Format site.Params.date_format }}</p>

          {{ partial "page_edit" . }}

          {{ partial "comments" . }}

          {{ partial "page_related" . }}
        </div>

      </article>

      {{ partial "site_footer" . }}

    </main>
  </div>
</div>
